* {
 margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration:none;
list-style: none;
text-transform: uppercase;
font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
transition: alle ease 0.5s;
}

html, body{
 width: 100%;
 height: 100%;
}
body{
    background:#57D87F;
    overflow-x: hidden;
}
body::-webkit-scrollbar{
    width: 5px;
    background-color: black;
    
}
body::-webkit-scrollbar-thumb{
    background:linear-gradient(black, #57D87F);    
    border-radius: 30px;
}

/**_________________________NAV BAR_____________________**/
nav{
    height: 10%;
    background-color:#57D87F;
    text-transform: uppercase;
    box-shadow: 0px 2px 10px #2c3532;
    position: fixed;
    width: 100%;
    z-index: 1;
}

label.logo{
    color:#121514;
    padding: 0 20px;
    line-height: 10vh;
    font-size: 1.5rem;
    font-weight: 900;
}

label.menu-bar{
    float: right;
    color:#121514;
    font-size: 25px;
    padding: 0 20px;
    line-height: 10vh;
    display: none;
    cursor: pointer; 
}
nav ul{
    float: right;   
}
#check{
    display: none;
}
nav ul li{
    display: inline-block;
    line-height: 10vh;
}
nav ul li a{
    color:#121514;
    padding: 4px 20px;
    font-size: 0.9em;
    border-radius: 3px;
}
a.active, a:hover{
    background: none;
    color: whitesmoke;
}
a.active{
    background: #00ff51;
    color: black;
}

@media (width < 985px){
    label.logo{
        font-size: 1.2rem;
    }

    nav ul li a{
        /* font-size: 15px; */
        padding: 0 8px;
    }
}

@media (max-width:786px){
    /* nav{
        width: 100vw;
    } */
    label.menu-bar{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: #121514;
        text-align: center;
        right: -100%;
        transition: all 0.5s;
    }

    #check:checked ~ ul{
        right: 0;
        
    }
    a:active :checked ~ ul{
        right: -100%;
    }
    nav ul li{
        display: block;
        padding: 15px 0;
    }
    nav ul li a{
        color: white;
        font-size: 1rem;
    }
    
}

/**____________________main start_____________________**/
#main{
    height: 100%;
    width: 100%;
    /* background-color: #e1f0bf; */
    display: flex;
}
.content1{
    height: 90vh;
    width: 60%;
   
}
.content1 h1{
    font-weight: 900;
    font-size: 2rem;
    margin-top: 30%;
    margin-left: 30%;
}
.content1 p{
    font-size: ;
    margin-top: 5%;
    margin-left: 30%;
}

.content1 .webdevlop{
    height: 10%;
    width: 35%;
    padding: 2px;
    margin-top: 5%;
    margin-left: 35%;
    background: #000;
    border-radius: 3px;
}
.content1 .webdevlop i{
    margin-left: 3%;
    color: #00ff51;
}
.content1 button{
    height: 99%;
    width: 85%;
    /* margin: 30px; */
    padding: 7px 15px;
    border-radius: 3px;
    background:#00ff51;
    /* align-items: center; */
    transition: all ease 0.5s;
    font-weight:700;
    font-size: 15px;
}

.content1 button:hover{
    background: #333333;
    color: #57D87F;
    border: 2px solid #00ff51;
    box-shadow: 4px 4px 10px black;
}
.content1 button:active{
    scale: 0.91;
}
.content2{
    margin-left: 10%;
    margin-top: 6%;
    height: 85%;
    width: 28%;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 10px 10px 0px #000;
}
.content2 img{
    height: 100%;
    width: 100%;
    background: #000;
    /* border-top-left-radius: 50px;
    border-bottom-left-radius: 50px; */
    /* filter: drop-shadow(10px 10px 10px); */
          
}
/**__________main media querry_________**/
/* @media (max-height:1370px){
    .content1{
        margin-top: 10%;
        height: 400px;
    }
    .content2{
        height: 300px;
        margin-top: 20%;
    }
} */
@media (max-width:992px) {
    .content1{
        margin-top: 10%;
        width: 65%;
    }
    .content1 .webdevlop{
        display: flex;
        align-items: center;
    }
    .content2{
        height: 80%;
        width: 30%;
        margin-left: 3%;
        margin-top: 9%;
        box-shadow: -10px 10px 0px rgba(61, 61, 61, 0.774);
    }
}
@media (max-width:768px) {
    #main{
        display: flex;
        flex-direction: column;
    }
    .content1{
        margin-top: 25%;
        height: 30%;
        width: 100%;        
    }
    .content1 h1{
        margin-left: 5%;
        margin-top: 2%;
        font-size: 1.8rem;
    }
    .content1 p{
        margin-left: 5%;
        /* margin-top: 25%; */
        font-size: 1.2em;
    }
    .content1 .webdevlop{
        height: 40px;
        width: 200px;
        margin-top: 5%;
        margin-left: 20%;
        display: flex;
        align-items: center;
    }
    .content1 button{
        font-size: 0.9rem;
    }
    
    .content2{
        display: none;
    }
}


/**________________Page 1_________________**/
#page1{
    /* margin-top: 13vh; */
    height: 150%;
    width: 100%;
    display: flex;
    transition: all ease 0.5s; 
    
}
#page1 img{
    height: 100%;
    width:100%;
    object-fit: fill;
    background-position: center;
    
}
#page1 h2{
    margin-top: 10%;
    margin-left: 30%;
}
#page1 h2::after{
    content: "";
    height: 2px;
    width: 50%;
    /* background-color:whitesmoke; */
    background-color: #000;
    position: absolute;
    margin-top: 2%;
    margin-left: 9.5%;

}
.abtcontent{
    height: 130%;
    width: 90%;
    background-color:#f5f5f5c2;
    backdrop-filter: blur(10px);
    position: absolute;
    margin: 5%;
    /* color: whitesmoke; */
    color: #000;
}
.abt{
    height: 50%;
    width: 55%;
    /* background-color: #00ff51; */
    margin-bottom: 10%;
    margin-left: 23%;
    /* color: whitesmoke; */
    color: #000;
}
.abtcontent p{
    margin-top: 25%;
    text-transform: capitalize;
}
.btn{
    /* height: 60px; */
    margin-left: 40%;
    margin-top: 25%;
    /* background: #000; */
    width: 60%;
}
.btn .hire{
    height: 50px;
    width: 170px;
    font-weight: 800;
    color: black;
    padding: 7px 30px;
    background:#00ff51;
    transition: all ease 0.5s;
    border-radius: 5px;
    border: 2px solid black;
    cursor: pointer;
}
.hire:hover {
    background:#2c3532;
    /* color: #57D87F; */
    border: 2px solid #00ff51;
}

.btn .download{
    height: 50px;
    width: 170px;
    margin-left: 15px;
    font-weight: 800;
    padding: 7px 15px;
    background:#2c3532;
    color: #57D87F;
    transition: all ease 0.5s;
    border-radius: 5px;
    border: 2px solid #00ff51;
    cursor: pointer;
}
.btn .download:hover{
    background:#00ff51;
    border: 2px solid black;
}
.btn .hire a{
    text-decoration: none;
    color:black;
}
.btn .hire:hover a{
    color: #57D87F;
}
.btn .download a{
    text-decoration: none;
    color: #57D87F;
}
.btn .download:hover a{
    color: black;
}

/* @media (max-width:750px) {
    #page1{
        display: flex;
        flex-direction: column;
    }
    .aboutme{
        margin-top: 100px;
        height: 300px;
        width: 200px;
        border-top-right-radius: 50px;
        overflow: hidden;
    
    }
    .abtcontent{
        margin-top: 50px;
        margin-left: 5%;
        height: 200px;
        width: 300px;
        overflow: hidden;
    }
    .abtcontent h2{
        font-size: 15px;
        color: white;
    }
    .abtcontent p{
        margin-top: 50px;
        margin-right: 20px;
        color: white;
    }
    

}
@media (width>1020px) and (midth<1050px){
    .aboutme{
        margin-top: 10%;
        height: 300px;
        width: 200px;
        border-top-right-radius: 50px;
        overflow: hidden;
    
    }
    .abtcontent{
        margin-top: 10%;
        margin-left: 10%;
        height: 200px;
        width: 500px;
        overflow: hidden;
    }
    .abtcontent h2{
        font-size: 15px;
        color: white;
    }
    .abtcontent p{
        margin-top: 50px;
        margin-right: 20px;
        color: white;
    }
} */

/**___________________Page 2_____________________**/
#page2{
    height: 100vh;
    width: 100vw;
    background:#333333;
    color: white;
    overflow: hidden;
    
}
#page2 h2{
    margin-top: 5%;
    margin-left: 30%;
    font-weight: 800;
}
#page2 h2::after{
    content: "";
    height: 2px;
    width: 50%;
    background-color: #57D87F;
    position: absolute;
    margin-top: 2%;
    margin-left: 10%;
}


/* #page2 .line .dash{
    margin-top: 20px;
    margin-left: 100px;
    background: #57D87F;
    height: 2px;
    width: 60%;
    color: #000;
} */
#box-container{
    height: 350px;
    width: 70%;
    /* background-color: red; */
    margin-top: 5%;
    margin-left: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
#box-container .box{
    height: 250px;
    width: 200px;
    border: 2px solid #00ff51;
    border-radius: 5px;
    /* background-color: #00ff51; */
}
#box-container h3{
    font-size: 12px;
    color: white;
    text-align: center;
    font-weight: 800;
    /* margin-top: 100%; */
}
#box-container .box img{
    height: 90%;
    width: 100%;
    object-fit: contain;
    padding: 5%;
}

/* @media (max-width:750px) {
    #page2{
        display: flex;
        flex-direction: column;
        width: 600px;
        height: 140%;
    }
    #page2 .line{
        margin-left: 15px;
    }
    #page2 .line h2{
        font-size: 15px;
    }
    #page2 .line .dash{
        width: 60%;
        margin-bottom: 35px;
        margin-left: 40px;
    }
    #box-container{
        height: 70%;
        width: 100vw;
        display: flex;
        flex-direction: column;
    }
    #box-container .box{
        margin: 5%;
    }

} */
/**____________________PAGE 3_______________________**/
#page3{
    height: 100vh;
     width: 100%;
     background:#57D87F;
}

#page3 h2::after{
    content: "";
    height: 2px;
    background-color: #000;
    width: 50%;
    position: absolute;
    margin-top: 2%;
    margin-left: 10%;
}

#page3 h2{
    font-weight: 800;
    margin-top: 5%;
    margin-left: 30%;
}
.educontainer{
    height: 60%;
    width: 100%;
    /* background-color:#00ff51; */
    margin-top: 5%;
    padding: 5%;
    
}
.educontainer h3{
    margin: 0.5%;
}
.educontainer .edu{
    border-bottom: 1px solid black;
}
.educontainer h4,p{
    margin: 1.5%;
    text-transform: capitalize;
}
.educontainer a{
    margin-left: 83%;
    font-weight: 700;
    text-transform: capitalize;
    color: #000;
    transition: all ease 0.5s;
}
.educontainer a:hover{
    color: #00ff51;
     
}
.educontainer a span{
    text-transform: none;
    color: #4e5e58;
    font-weight: 700;
}

/**_____________________PAGE 4_______________________**/
#page4{
    height: 100vh;
    width: 100vw;
    background: #000;
    display: flex;
}
.first{
    /* margin-left: 2%; */
    margin-top: 9.7%;
    height: 80%;
    width: 30%;
    background-color: #00ff51;
    overflow: hidden;
}
.second{
    height: 90%;
    width: 60%;
    margin-top: 5%;
    /* background-color: #57D87F; */
    color: white;
    padding: 10%;
}
.second p{
    font-size: 20px;
    text-transform: capitalize;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    margin: 10%;
}
.first img{
    margin-top: 4%;
    height: 100%;
    width: 100%;
    object-fit: cover;

}

/**_________________PAGE 5___________________**/
#page5{
    height: 70vh;
    width: 100%;
    background: #57D87F;
}
#page5 h2{
    font-weight: 800;
    margin-top: 5%;
    margin-left: 30%;
}
#page5 h2::after{
    content: "";
    height: 2px;
    background-color: #000;
    width: 50%;
    position: absolute;
    margin-top: 2%;
    margin-left: 10%;
}
#page5 .exp{
    /* background-color: #00ff51; */
    height: 33%;
    width: 90%;
    margin-top: 10%;
    margin-left: 5%;
    /* padding: 5%; */
    border-bottom: 1px solid black;
}
.exp h4,p{
    margin: 1.5%;
    text-transform: capitalize;
}
.exp a{
    margin-left: 84%;
    font-weight: 700;
    text-transform: capitalize;
    color: #000;
    text-align: right;
    transition: all ease 0.5s;
}
.exp a span{
    text-transform: none;
    color: #4e5e58;
    font-weight: 700;
}
.exp a:hover{
    color: #00ff51;   
}
h3{
    margin: 0.5%;
}
/**_______________imagebox_____________**/
#imgbox{
    height: 320px;
    width: 100%;
    background-color: #000;
    display: flex;
    /* position: relative; */
    justify-content: center;
    align-items: center;
}
#imgbox .context{
    height: 100%;
    width: 25%;

    background-color: #00ff51;
    border-right: 1px solid black;
    
}
.context img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#imgbox .abt{
    height: 250px;
    width: 90%;
    margin-right: 23%;
    margin-top: 10%;
    border-radius: 5px;
    color: whitesmoke;
    position: absolute;
    /* z-index: 1; */
    backdrop-filter: blur(10px);
    background: #00000091;
    padding: 5%;
}

/**______________contect__________________**/
#contect{
    margin-left: 0.8%;
   height: 100vh;
   width: 100%;
   padding: 2%;
   display: flex;
   padding-top: 5%;
   position: relative;
   /* justify-content: space-around; */
}
/* #contect h2{
    margin-top: %;
} */
#contect .drop-msg{
    /* background-color: #00ff51; */
    height: 80%;
    width: 50%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    
}
.drop-msg input{
    background: none;
    border: none;
    font-size: 15px;
    margin: 2%;
    border-bottom: 1px solid black;
    outline: none;
    height: 10%;
}
.drop-msg input::placeholder{
    color: #000;
}
.drop-msg textarea{
    background: none;
    border: none;
    font-size: 15px;
    margin: 2%;
    border-bottom: 1px solid black;
    margin-bottom: 2%;
    outline: none;
    height: 10%;
}
.drop-msg textarea::placeholder{
    color: #000;
}
.send-msg{
    height: 15%;
    width: 33%;
    font-weight: 500;
    font-family: cursive;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 65%;
    margin-top: 4%;
    transition: all ease 0.5s;
    border: 1px solid black;
}
.send-msg:hover{
    box-shadow: -5px 5px black;
}

.contectbox{
    margin-left: 10%;
    height: 80%;
    width: 30%;
    /* background-color: #00ff51; */
   
}
.contectbox h2{
    margin-bottom: 6%;
}
.contectbox p{
    font-size: 15px;
    transition: all ease 0.5s;
}
.contectbox p:hover{
    text-decoration: underline;
    scale: 1.02;
}
.contectbox button{
    height: 15%;
    width: 60%;
    margin-left: 40%;
    margin-top: 10%;
}
#social{
    height: 10.5%;
    width: 50%;
    margin-top: 40px;
    /* background-color: cyan; */
    display: flex;
    margin-left: 43%;
    /* justify-content: space-between; */
}
#social .media{
    height: 100%;
    width: 25%;
    font-size: 25px;
    margin-right: 15px;
    border-radius: 50%;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease 0.5s;
    cursor: pointer;
}
#social .media:hover{
    transform: rotateY(180deg);
    background-color: #000;
    color: whitesmoke;
}
.contectbox button{
    transition: all ease 0.5s;
    border: 1px solid black;
}
.contectbox button a{
    color: #000;
    font-family: cursive;
    font-weight: 600;
    font-size: 15px;
}
.contectbox button:hover{
    box-shadow: -5px 5px black;
}
.copyright{
    position: absolute;
    margin-top: 40%;
    margin-left: 20%;
    text-transform: capitalize;
}
/**_________________Footer_____________**/

/* footer{
    height: 50%;
    width: 100%;
    background-color: #000;
} */
footer .top{
    background-color: #4e5e58c4;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer a{
    color: whitesmoke;
    text-transform:none;
}
.top:hover{
    background-color: #2e2e2e;
} 