* {
 margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration:none;
list-style: none;
text-transform: uppercase;
font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
transition: all ease 0.5s;
}

html, body{
 width: 100%;
 height: 100%;
}
body{
    background:#57D87F;
    overflow-x: hidden;
    transition: all ease 0.5s;
}
body::-webkit-scrollbar{
    width: 5px;
    background-color: black;
    
}
body::-webkit-scrollbar-thumb{
    background:linear-gradient(black, #57D87F);    
    border-radius: 30px;
}
body p:hover{
    scale: 1.02;
}
body h4:hover{
    scale: 1.03;
}

/**_________________________NAV BAR_____________________**/
nav{
    height: 10%;
    background-color:#57D87F;
    text-transform: uppercase;
    box-shadow: 0px 2px 10px #2c3532;
    position: fixed;
    width: 100%;
    z-index: 1;
}

label.logo{
    color:#121514;
    padding: 0 20px;
    line-height: 10vh;
    font-size: 1.5rem;
    font-weight: 900;
}

label.menu-bar{
    float: right;
    color:#121514;
    font-size: 25px;
    padding: 0 20px;
    line-height: 10vh;
    display: none;
    cursor: pointer; 
}
nav ul{
    float: right;   
}
#check{
    display: none;
}
nav ul li{
    display: inline-block;
    line-height: 10vh;
}
nav ul li a{
    color:#121514;
    padding: 4px 20px;
    font-size: 0.9em;
    border-radius: 3px;
}
a.active, a:hover{
    background: none;
    color: whitesmoke;
}
a.active{
    background: #00ff51;
    color: black;
}

@media (width < 985px){
    label.logo{
        font-size: 1.2rem;
    }

    nav ul li a{
        /* font-size: 15px; */
        padding: 0 8px;
    }
}

@media (max-width:790px){
    /* nav{
        width: 100vw;
    } */
    label.menu-bar{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: #121514;
        text-align: center;
        right: -100%;
        transition: all 0.5s;
    }

    #check:checked ~ ul{
        right: 0;
        
    }
    a:active :checked ~ ul{
        right: -100%;
    }
    nav ul li{
        display: block;
        padding: 15px 0;
    }
    nav ul li a{
        color: white;
        font-size: 1rem;
    }
    
}
@media (max-width:650px) {
    label.logo{
        font-size: 15px;
        padding: 0 10px;
    }
}

/**____________________main start_____________________**/
#main{
    height: 100%;
    width: 100%;
    /* background-color: #e1f0bf; */
    display: flex;
}
.content1{
    height: 90vh;
    width: 60%;
   
}
.content1 h1{
    font-weight: 900;
    font-size: 2rem;
    margin-top: 30%;
    margin-left: 30%;
}
.content1 p{
    font-size: ;
    margin-top: 5%;
    margin-left: 30%;
}

.content1 .webdevlop{
    height: 10%;
    width: 35%;
    padding: 2px;
    margin-top: 5%;
    margin-left: 35%;
    background: #000;
    border-radius: 3px;
}
.content1 .webdevlop i{
    margin-left: 3%;
    color: #00ff51;
}
.content1 button{
    height: 99%;
    width: 85%;
    /* margin: 30px; */
    padding: 7px 15px;
    border-radius: 3px;
    background:#00ff51;
    /* align-items: center; */
    transition: all ease 0.5s;
    font-weight:700;
    font-size: 15px;
}

.content1 button:hover{
    background: #333333;
    color: #57D87F;
    border: 2px solid #00ff51;
    box-shadow: 4px 4px 10px black;
}
.content1 button:active{
    scale: 0.91;
}
.content2{
    margin-left: 10%;
    margin-top: 6%;
    height: 85%;
    width: 28%;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 10px 10px 0px #000;
}
.content2 img{
    height: 100%;
    width: 100%;
    background: #000;
    /* border-top-left-radius: 50px;
    border-bottom-left-radius: 50px; */
    /* filter: drop-shadow(10px 10px 10px); */
          
}
/**__________main media querry_________**/

@media (max-width:992px) {
    .content1{
        margin-top: 10%;
        width: 65%;
    }
    .content1 .webdevlop{
        display: flex;
        align-items: center;
    }
    .content2{
        height: 80%;
        width: 30%;
        margin-left: 3%;
        margin-top: 9%;
        box-shadow: -10px 10px 0px rgba(61, 61, 61, 0.774);
    }
}
@media (max-width:768px) {
    #main{
        height: 200%;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .content1{
        margin-top: 25%;
        height: 30%;
        width: 100%;        
    }
    .content1 h1{
        margin-left: 5%;
        margin-top: 2%;
        font-size: 1.8rem;
    }
    .content1 p{
        margin-left: 5%;
        /* margin-top: 25%; */
        font-size: 1.2em;
    }
    .content1 .webdevlop{
        height: 40px;
        width: 200px;
        margin-top: 5%;
        margin-left: 20%;
        display: flex;
        align-items: center;
    }
    .content1 button{
        font-size: 0.9rem;
    }
    
    .content2{
        height: 90vh;
        width: 40vw;
        margin-top: 0.5%;
        margin-left: 50%;
    }
}
@media (max-width:650px) {
    #main{
        height: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    #main h1{
        font-size: 25px;
    }
    #main p{
        font-size: 15px;
    }
    .content1 {
        margin-top: 20%;
        height: 60%;
    }
    .content1 h1{
        margin-top: 10%;
    }
    .content2{
        height: 10%;
        background: #000;
        /* height: 10vh; */
        display: none;
        
    }
}


/**________________Page 1_________________**/
#page1{
    /* margin-top: 13vh; */
    height: 150%;
    width: 100%;
    display: flex;
    transition: all ease 0.5s; 
    
}
#page1 img{
    height: 100%;
    width:100%;
    object-fit: cover;
    background-position: center;
    
}
#page1 h2{
    margin-top: 10%;
    margin-left: 30%;
}
#page1 h2::after{
    content: "";
    height: 2px;
    width: 50%;
    /* background-color:whitesmoke; */
    background-color: #000;
    position: absolute;
    margin-top: 2%;
    margin-left: 9.5%;

}
.abtcontent{
    height: 130%;
    width: 90%;
    background-color:#f5f5f5c2;
    backdrop-filter: blur(10px);
    position: absolute;
    margin: 5%;
    overflow: hidden;
    color: #000;
}
.abt{
    height: 50%;
    width: 55%;
    /* background-color: #00ff51; */
    margin-bottom: 10%;
    margin-left: 23%;
    /* color: whitesmoke; */
    color: #000;
}
.abtcontent p{
    margin-top: 25%;
    text-transform: capitalize;
}
.btn{
    
    margin-left: 20%;
    margin-top: 25%;
    width: 100%;
}
.btn .hire{
    height: 50px;
    width: 170px;
    font-weight: 800;
    color: black;
    padding: 7px 30px;
    background:#00ff51;
    transition: all ease 0.5s;
    border-radius: 5px;
    border: 2px solid black;
    cursor: pointer;
}
.hire:hover {
    background:#2c3532;
    /* color: #57D87F; */
    border: 2px solid #00ff51;
}

.btn .download{
    height: 50px;
    width: 170px;
    margin-left: 15px;
    font-weight: 800;
    padding: 7px 15px;
    background:#2c3532;
    color: #57D87F;
    transition: all ease 0.5s;
    border-radius: 5px;
    border: 2px solid #00ff51;
    cursor: pointer;
}
.btn .download:hover{
    background:#00ff51;
    border: 2px solid black;
}
.btn .hire a{
    text-decoration: none;
    color:black;
}
.btn .hire:hover a{
    color: #57D87F;
}
.btn .download a{
    text-decoration: none;
    color: #57D87F;
}
.btn .download:hover a{
    color: black;
}
/**_____media querry page 1_______**/

@media (max-width:790px) {
    #page1{
        margin-top: 30px;
        height: 120%;
        width: 100%;
        /* position: relative; */
    }
    #page1 .abtcontent{
        margin-top: 5%;
        height: 100%;
    }
    .abtcontent p{
        margin-top: 20%;
    }
    .btn{
        height: 40px;
        margin-top: 10%;
        margin-left: 50px;
    }
    .btn .hire{
        font-size: 11px;
        height: 40px;
        width: 120px;
    }
    .btn .download{
        font-size: 11px;
            height: 40px;
            width: 130px;
    }
}
@media (max-width:655px){
    #page1{
        margin-top: 25%;
        height: 80%;
        width: 100%;
        position: relative;
    }
    #page1 .abtcontent{
        margin-top: 7%;
        height: 90%;
    }
    .abt{
        margin-left: 15%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .abtcontent h2{
        font-size: 17px;
        margin-left: 0%;
    }
    .abt p{
        font-size: 14px;
        font-family: cursive;
    }
    #page1 h2::after{
        margin-top: 3%;
    }
    .btn{
        margin-top: 10px;
        margin-left: 100px;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* background-color: #000; */
    }
    .btn .hire{
        height: 35px;
        width: 65%;
        padding: 0 10px;
        font-weight: 600;
    }
    .btn .hire a{
        font-size: 10px;
    }
    .btn .download{
        height: 35px;
        width: 65%;
        margin-top: 5px;
        margin-left: 0;
        font-weight: 600;
        padding: 0 10px;

    }
    .btn .download a{
        font-size: 10px;
    }
}


/**___________________Page 2_____________________**/
#page2{
    height: 100%;
    width: 100%;
    background:#333333;
    color: white;
    overflow: hidden;
    
}
#page2 .hed{
    width: 90%;
    margin-left: 12%;
    /* background-color:#00ff51; */
    overflow: hidden;
    position: relative;
}
#page2 h2{
    margin-top: 5%;
    margin-left: 20%;
    font-weight: 800;
}
#page2 h2::after{
    content: "";
    height: 2px;
    width: 52%;
    background-color: #57D87F;
    position: absolute;
    margin-top: 2%;
    margin-left: 10%;
}

#box-container{
    height: 350px;
    width: 80%;
    margin-top: 5%;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#box-container .box{
    height: 280px;
    width: 230px;
    border: 2px solid #00ff51;
    border-radius: 5px;
    /* background-color: #00ff51; */
}
#box-container h3{
    font-size: 12px;
    color: white;
    text-align: center;
    font-weight: 800;
    /* margin-top: 100%; */
}
#box-container .box img{
    height: 90%;
    width: 100%;
    object-fit: contain;
    padding: 10px;
}

@media (max-width:890px) {
    #page2 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
   }
   #page2 .hed{
    margin-left: 10%;
    position: relative;
    overflow: hidden;
   }
   #page2 h2{
        margin-top: 5%;
        margin-left: 20%;
        font-size: 20px;
        font-weight: 600;
    }
    #page2 h2::after{
        width: 51%;
    }
    #box-container{
        display: flex;
        height: 350px;
        width: 90%;
        position: relative;
        margin-left: 5%;
    }
    #box-container .box{
        height: 200px;
        width: 180px;
    }

}
@media (max-width:650px) {
    #page2{
        height: 120%;
        display: flex;
        flex-direction: column;
    }
    #page2 h2{
        font-size: 17px;
        font-weight: 600;
        margin-left: 90px;
    }
    #page2 #box-container{
        display: flex;
        flex-direction: column;
    }
    #box-container{
        height: 60%;
        margin-top: 100px;
    }
    #box-container .box{
        margin-top: 15px;
        padding: 10px;
    }
}
    /**____________________PAGE 3_______________________**/
#page3{
    height: 100%;
     width: 100%;
     background:#57D87F;
     
}
#page3 .hed{
    position: relative;
    overflow: hidden;
}

#page3 h2::after{
    content: "";
    height: 2px;
    background-color: #000;
    width: 50%;
    position: absolute;
    margin-top: 2%;
    margin-left: 10%;
}

#page3 h2{
    font-weight: 800;
    margin-top: 5%;
    margin-left: 30%;
}
.educontainer{
    height: 60%;
    width: 100%;
    /* background-color:#00ff51; */
    margin-top: 5%;
    padding: 5%;
    
}
.educontainer h3{
    margin: 0.5%;
}
.educontainer .edu{
    border-bottom: 1px solid black;
}
.educontainer h4,p{
    margin: 1.5%;
    text-transform: capitalize;
}
.educontainer a{
    margin-left: 75%;
    font-weight: 700;
    text-transform: capitalize;
    color: #000;
    transition: all ease 0.5s;
}
.educontainer .a1{
    text-align: right;
}
.educontainer a:hover{
    color: #00ff51;
     
}
.educontainer a span{
    text-transform: none;
    color: #4e5e58;
    font-weight: 700;
}

/**page3 media querry**/
@media (max-width:844px) {
    #page3{
        height: 80%;
    }
    #page3 h2{
        font-size: 20px;
        font-weight: 600;
    }
    .educontainer .edu h3{
        font-size: 17px;
    }
    .educontainer .edu h4{
        font-size: 15px;
    }
    .educontainer p{
        font-size: 12px;
    }
    .educontainer a{
        margin-left: 70%;
        font-size: 15px;
    }
}
@media (max-width:660px) {
    #page3{
        height: 80%;
    }
    .educontainer{
        height: 100%;
        width: 100%;
        position: relative;
    }
    .educontainer .edu{
        /* background: #00ff51; */
        padding: 5px;
        margin-left: 5px;
        /* border-bottom: none; */
    }  
    .educontainer .edu a{
        margin-left: 0;
        font-size: 15px;
    }
    .educontainer .edu h3{
        margin-top: 20px;
    }
    .educontainer .edu h4{
        font-size: 15px;
        margin-top: 8px;
    }
    .educontainer p{
        font-size: 12px;
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .educontainer .edu a{
        margin-left: 10px;
        margin-top:100px;
        font-size: 12px;
    }
}



/**_____________________PAGE 4_______________________**/
#page4{
    height: 100vh;
    width: 100vw;
    background: #000;
    display: flex;
}
.first{
    /* margin-left: 2%; */
    margin-top: 9.7%;
    height: 80%;
    width: 30%;
    background-color: #00ff51;
    overflow: hidden;
}
.second{
    height: 90%;
    width: 60%;
    margin-top: 1%;
    margin-left: 50px;
    /* background-color: #57D87F; */
    color: white;
    padding: 10%;
}
.second p{
    font-size: 20px;
    text-transform: capitalize;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    margin: 10%;
}
.first img{
    margin-top: 4%;
    height: 100%;
    width: 100%;
    object-fit: cover;

}
/**__________Page 4 media querry______**/
@media (max-width:950px) {
    #page4 .first{
        width: 40%; 
    }
}
@media (max-width:650px) {
    #page4{
        height: 60%;
        padding: 5%;
        display: flex;
        align-items: center;
    }
    #page4 .first{
        height: 50%;
        margin-top: 35%; 
        display: none;
    }
    .second{
        margin-left: 5px;
        width: 100%;
        padding: 1px;
        position: relative;
    }
    .second p{
        margin-top: 20px;
        font-size: medium;
        line-height: 20px;
    }
}
/**_________________PAGE 5___________________**/
#page5{
    height: 80%;
    width: 100%;
    background: #57D87F;
}
#page5 .hed{
    position: relative;
    overflow: hidden;
}   
#page5 h2{
    font-weight: 800;
    margin-top: 5%;
    margin-left: 30%;
}
#page5 h2::after{
    content: "";
    height: 2px;
    background-color: #000;
    width: 50%;
    position: absolute;
    margin-top: 2%;
    margin-left: 10%;
}
#page5 .exp{
    /* background-color: #00ff51; */
    height: 36%;
    width: 90%;
    margin-top: 10%;
    margin-left: 5%;
    /* padding: 5%; */
    border-bottom: 1px solid black;
}
.exp h4,p{
    margin-top: 1.5%;
    margin-left: 1%;
    text-transform: capitalize;
}
.exp p{
    margin-bottom: 35px;
}
.exp a{
    margin-left: 70%;
    font-weight: 700;
    text-transform: capitalize;
    color: #000;
    text-align: right;
    transition: all ease 0.5s;
}
.exp a span{
    text-transform: none;
    color: #4e5e58;
    font-weight: 700;
}
.exp a:hover{
    color: #00ff51;   
}
h3{
    margin: 0.5%;
}
/**_________page5 media querry____________**/
@media (max-width:950px) {
    #page5 h2{
        font-size: 20px;
        font-weight: 600;
    }
    .exp h3{
        font-size: 17px;
    }
    .exp h4{
        font-size: 15px;
    }
    .exp p{
        font-size: 13px;
    }
    .exo a{
        font-size: 13px;
    }
}
@media (max-width:650px) {
    #page5{
        height: 60%;
    }
    #page5 h2{
        font-size: 17px;
    }
    #page5 .exp{
        height: 60%;
    }
    .exp p{
        margin-bottom: 55px;
    }
    .exp a{
        font-size: 15px;
        margin-left: 2%;
    }
}
/**_______________imagebox_____________**/
#imgbox{
    height: 320px;
    width: 100%;
    background-color: #000;
    display: flex;
    /* position: relative; */
    justify-content: center;
    align-items: center;
}
#imgbox .context{
    height: 100%;
    width: 25%;

    background-color: #00ff51;
    border-right: 1px solid black;
    
}
.context img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#imgbox .abt{
    height: 250px;
    width: 90%;
    margin-right: 23%;
    margin-top: 10%;
    border-radius: 5px;
    color: whitesmoke;
    position: absolute;
    /* z-index: 1; */
    backdrop-filter: blur(10px);
    background: #00000091;
    padding: 5%;
}
/**______media quary for image box__________**/
@media (max-width:850px) {
    #imgbox{
        height: 210px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #imgbox .abt{
        height: 80%;
    }
    .abt p{
        font-size: 15px;
    }
}
@media (max-width:650px) {
    #imgbox{
        height: 150px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #imgbox .abt{
        height: 80%;
        margin-left: 22%;
    }
    .abt p{
        font-size: 12px;
    }
}
/**______________contect__________________**/
#contect{
    margin-left: 0.8%;
   height: 100vh;
   width: 100%;
   padding: 2%;
   display: flex;
   padding-top: 5%;
   position: relative;
}

#contect .drop-msg{
    /* background-color: #00ff51; */
    height: 80%;
    width: 50%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    
}
.drop-msg input{
    background: none;
    border: none;
    font-size: 15px;
    margin: 2%;
    border-bottom: 1px solid black;
    outline: none;
    height: 10%;
}
.drop-msg input::placeholder{
    color: #000;
}
.drop-msg textarea{
    background: none;
    border: none;
    font-size: 15px;
    margin: 2%;
    border-bottom: 1px solid black;
    margin-bottom: 2%;
    outline: none;
    height: 10%;
}
.drop-msg textarea::placeholder{
    color: #000;
}
.send-msg{
    height: 60px;
    width: 230px;
    font-size: 17px;
    font-weight: 600;
    font-family: cursive;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 406px;
    margin-top: 4%;
    transition: all ease 0.5s;
    border: 1px solid black;
    cursor: pointer;
}
.send-msg:hover{
    box-shadow: -5px 5px black;
}

.contectbox{
    margin-left: 5%;
    height: 80%;
    width: 30%;
   
}
.contectbox h2{
    margin-bottom: 6%;
}
.contectbox p{
    font-size: 15px;
    transition: all ease 0.5s;
}
.contectbox p:hover{
    text-decoration: underline;
    scale: 1.02;
}
.contectbox button{
    height: 60px;
    width: 230px;
    font-size: 17px;
    font-weight: 600;
    margin-left: 150px;
    margin-top: 10%;
}
#social{
    height: 20%;
    width: 55%;
    margin-top: 40px;
    display: flex;
    margin-left: 43%;
    justify-content: space-between;
}
#social .media{
    height: 45px;
    width: 45px;
    font-size: 25px;
    border-radius: 50%;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease 0.5s;
    cursor: pointer;
}
#social .media:hover{
    transform: rotateY(180deg);
    background-color: #000;
    color: whitesmoke;
}
.contectbox button{
    transition: all ease 0.5s;
    border: 1px solid black;
}
.contectbox button a{
    color: #000;
    font-family: cursive;
    font-weight: 600;
}
.contectbox button:hover{
    box-shadow: -5px 5px black;
}


/**contect media quarry**/
@media (max-width:1024px) {
    .contectbox button{
        margin-left: 20%;
    }
    #social{
        width: 230px;
        margin-left: 20%;
    }
    .send-msg{
        margin-left: 52%;
    }
}
@media (max-width:768px) {
    .drop-msg{
        display: flex;
    }
    .drop-msg input{
        font-size: 13px;
    }
    .drop-msg textarea{
        font-size: 13px;
    }
    .drop-msg .send-msg{
        margin-left: 55%;
        height: 12%;
        width: 43%;
        font-size: 13px;
        font-weight: 600;
    }

    .drop-msg h2{
        font-size: 20px;
    }
    .contectbox{
        margin-left: 50px;
        width: 35%;
    }
    .contectbox h2{
        font-size: 20px;
    }
    .contectbox p{
        font-size: 13px;
    }
    .contectbox button{
        height: 12%;
        width: 60%;
        margin-left: 30%;
        font-size: 10px;
        /* font-weight: 600; */
    }
    .contectbox button a{
        font-size: 11px;
    }
    #social{
        width: 60%;
        height: 17%;
        margin-left: 32%;
        display: flex;
        justify-content: space-between;
        
    }
    #social .media{
        height: 40px;
        width: 40px;
    }
    #social i{
        font-size: 20px;
    }
}
@media (max-width:600px) {
    #contect{
        height: 120%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    #contect .drop-msg{
        width: 90%;
        margin-top: 5%;
    }
    .drop-msg .send-msg{
        height: 35px;
        width: 150px;
        margin-left: 45%;
    }
    #contect .contectbox{
        width: 90%;
        margin-left: 5%;
        margin-top: 1%;
    }
    .contectbox button{
        height: 35px;
        width: 150px;
        margin-left: 45%;
    }
    #social{
        width: 150px;
        margin-top: 5%;
        margin-left: 45%;
    }
    #social .media{
        height: 35px;
        width: 35px;
    }
    #social .media i{
        font-size: 17px;
    }
    
}

/**_________copyright__________**/
.copyright{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    text-align: center;
}
.copyright i{
    padding: 0 5px;
}
.copyright span{
    font-weight: 700;
    padding: 0 5px;
}
@media (max-width:768px) {
    .copyright{
        font-size: 13px;
    }
}
@media (max-width:650px){
    .copyright{
        font-size: 12px;
    }
}

/**_________________Footer_____________**/
footer{
    width: 100%;
} 
footer .top{
    width: 100%;
    background-color: #4e5e58c4;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer a{
    color: whitesmoke;
    text-transform:none;
}
.top:hover{
    background-color: #2e2e2e;
} 